

.dadaji h3 { margin-top: 25px;}

.line {margin-top: -9px;}

.dadajitext { font-size: 18px; margin-top: -5px; margin-bottom: 25px; text-align: justify;}

.ownerline {margin-top: 20px;}

.owner {margin-top: 10px;}

.co-owner {margin-top: 10px;}
.co-ownerline {margin-top: 20px;}

.mapsection {margin-top: 90px;}


@media (max-width: 640px){

.hero-about{
  position: relative;
  overflow: hidden;
}

.hero-about, .hero-div{
  height: 250px !important;
  
}    
.img-div-abt{
    position: absolute;
}

.hero-div{
    position: relative;
}

.about-img{
  object-fit: contain !important;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.4;
}

.about-heading{
  position: absolute;
  align-items: normal;
  
  text-align: center;
  z-index: 2;
}

.dadaji h3, .owner h3, .co-owner h3{
    font-size: larger;
    margin-top: 5%;
    align-items: center;
    height: fit-content;
}

.line{
    width: 85%;
    margin-top: 2%;
}

.img-dadaji{
    height: 50%;
    width: 50%;
}

.dadajitext{
    font-size: small;
    margin-inline: 7%;
}

.ownerline, .co-ownerline{
    margin-inline: 6%;
    gap: 2px;
}

.ownerline span, .co-ownerline span{
    width: 90%;
    font-size: medium;
    display: flex;
    justify-content: center;
}

.mapsection{
    margin-block: 7%;
    margin-inline: 6%;
}

.loc-text p{
    font-size: small;
}

}

@media (min-width: 640px) and (max-width: 768px){

.dadaji h3, .owner h3, .co-owner h3{
    font-size: x-large;
    display: flex;
    margin-top: 1%;
  align-items: center; 
  
}

.line{
    width: 85%;
}

.img-dadaji{
    height: 50%;
    width: 50%;
}

.dadajitext{
    font-size: medium;
    margin-inline: 7%;
}

.ownerline, .co-ownerline{
    margin-inline: 6%;
    gap: 4px;
}

.ownerline span, .co-ownerline span{
    width: 80%;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.mapsection{
    margin-block: 7%;
    margin-inline: 6%;
}

.loc-text p{
    font-size: medium;
}

}

@media (min-width: 769px) and (max-width: 1023px){

.dadaji h3, .owner h3, .co-owner h3{
    font-size: xx-large;
    display: flex;
    margin-top: 1%;
  align-items: center; 
  
}

.line{
    width: 70%;
}

.img-dadaji{
    height: 45%;
    width: 45%;
}

.dadajitext{
    font-size: medium;
    margin-inline: 7%;
}

.ownerline, .co-ownerline{
    margin-inline: 6%;
    gap: 4px;
}

.ownerline span, .co-ownerline span{
    width: 40%;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.mapsection{
    margin-block: 7%;
    margin-inline: 6%;
}

.loc-text p{
    font-size: medium;
}

}

@media (min-width: 1023px) and (max-width: 1240px){

.ownerline, .co-ownerline{
    margin-inline: 6%;
    gap: 4px;
}

.ownerline span, .co-ownerline span{
    width: 25%;
    font-size: x-large;
    display: flex;
    justify-content: center;
}

.mapsection{
    margin-block: 7%;
    margin-inline: 6%;
}

.loc-text p{
    font-size: larger;
}

.dadajitext{
    margin-inline: 7%;
}

}